.popup__title {
  line-height: 1.21;
  font-weight: 900;
  font-size: 24px;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 630px) {
  .popup__title {
    font-size: 18px;
    margin-bottom: 75px;
  }
}