.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .profile {
    padding: 0 50px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    padding: 0 19px;
  }
}