.profile__edit-button {
  width: 24px;
  height: 24px;
  outline: 0;
  border: 1px solid #fff;
  background-color: transparent;
  background-image: url(../../../images/icons/profile-edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 8px 18px;
  padding: 0;
  align-self: end;
  cursor: pointer;
  transition: opacity 350ms ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0 0 5px 10px;
  }
}