.footer {
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 960px) {
  .footer {
    padding-left: 50px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 0 19px 36px;
  }
}