.card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 0 20px;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}