.popup__input {
  width: 100%;
  line-height: 1.21;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: 0;
  padding-bottom: 8px;
  margin: 0;
}