.header__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #a9a9a9;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  cursor: pointer;
}